$orange: #f24d25;
$darkBlue: #212738;
$blue: #464b5a;
$white: #d8dbe2;
$light-grey: #858585;

$textOrange: $orange;
$textDarkBlue: $darkBlue;
$textWhite: $white;
$textLightGrey: $light-grey;

$background-darkBlue: $darkBlue;
$background-white: $white;
$background-orange: $orange;

$bayon-font-family: "Bayon", sans-serif;
$pacifico-font-family: "Pacifico", cursive;
$jakarta-font-family: "PlusJakartaRegular", sans-serif;
