.experience-container {
  background-color: $background-darkBlue;
  color: $textWhite;
  &-content {
    // max-height: 500px;
    overflow: hidden;
  }
}
.carousel-wrapper {
  padding: 20px;
  overflow: hidden;
}
.carousel-slides {
  overflow: hidden;
  .carousel-inner {
    position: relative;
    max-height: 530px;
    height: 530px;
    // overflow-y: scroll;
    &::before,
    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 250px;
      pointer-events: none;
      left: 0;
    }

    &::before {
      top: 0;
      background: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0) 0%,
        $darkBlue 100%
      );
    }
    &::after {
      bottom: 0;
      background: linear-gradient(
        0deg,
        $darkBlue 0%,
        hsla(0, 0%, 100%, 0) 100%
      );
    }
    .carousel-slide {
      position: absolute;
      top: 200px;
      transition: transform 0.2s ease, opacity 0s ease;
      text-align: left;
      opacity: 0;
      height: 200px;
      width: 100%;

      .carousel-slide-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        text-align: center;
        &:hover {
          .carousel-slide-heading {
            color: $white;
          }
        }
      }
    }
    .carousel-slide.visible {
      opacity: 1;
    }
  }
}
