@font-face {
  font-family: "PlusJakartaBold";
  src: url("/fonts/PlusJakartaSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "PlusJakartaRegular";
  src: url("/fonts/PlusJakartaSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Bayon";
  src: url("/fonts/Bayon-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  display: swap;
}
