.navbar-side {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 4rem;
  ul {
    display: flex;
    flex-direction: column;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 3px;
      background-color: $background-white;
    }
    &::before {
      height: 100%;
    }
    &::after {
      height: 15%;
    }
    li {
      font-family: $bayon-font-family;
      color: $textWhite;
      a {
        color: $textWhite;
        &:hover {
          text-decoration: underline !important;
          color: rgba($textDarkBlue, 0.8);
        }
      }
    }
  }
}
